<nav class="navbar">
  <div class="brand">
    <h1>Tiago</h1>
    <p id="whoami">Software Developer</p>
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="about">about</a>
      </li>
      <li>
        <a routerLink="work">work</a>
      </li>
      <li>
        <a href="">blog</a>
      </li>
      <li>
        <a href="">contact</a>
      </li>
      <li>
        <a (click)="toggleContrast()">
          <i class="fa fa-adjust" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
