.about {
	display: flex;
	flex-wrap: wrap;

}
.about > .tile {
	border: 5px var(--dark-color) solid;
}

.about > .intro {
	width: 100%;
	height: 600px;
	background-color: var(--dark-blue);
}
.about > .academic {
	width: 50%;
	height: 300px;
	background-color: var(--light-color);
}
.about > .focus {
	width: 50%;
	height: 300px;
	background-color: var(--grey);
}