:root {
    --white: #f4f4f4;
    --black: #000000;
    --dark-blue: #333a56;
    --blue: #52658f;
    --grey: #e8e8e8;
    --bege: #f7f5e6;
}

.light {
    --background-color: var(--bege);
    --text-color: var(--dark-blue);
}

.dark {
    --background-color: var(--dark-blue);
    --text-color: var(--bege);
}